<footer class="bg-tertiary/25 py-8">
  <div class="container mx-auto px-4">
    <div class="mb-5 grid gap-8 xl:grid-cols-12">
      
      <div class="flex flex-col items-center gap-2 xl:col-span-4 xl:items-start xl:col-start-1">
        <a class="flex items-center" href="{{ site.BaseURL }}">
          <span class="text-[#09568c] text-xl font-semibold uppercase xl:text-3xl">{{ site.Title }}</span>
        </a>
        <p class="text-center text-sm xl:text-start text-gray-600 leading-relaxed">{{ site.Params.description }}</p>
      </div>

      <div class="xl:col-span-2 xl:col-start-5">
        <h2 class="text-[#09568c] mb-3 text-center text-lg font-bold xl:text-start">关于我们</h2>
        <ul class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm text-gray-600 justify-items-center xl:justify-items-start">
          {{ range .Site.Menus.footer }}
            <li class="w-full text-center xl:text-start">
              <a class="hover:text-[#09568c] transition-colors block py-0.5" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="xl:col-span-3 xl:col-start-8">
        <div class="mb-5">
          <h2 class="text-[#09568c] mb-2 text-center text-lg font-bold xl:text-start">办公地址</h2>
          <ul class="flex flex-col gap-2 text-sm text-gray-600">
            {{ range .Site.Params.location }}
              <li class="flex flex-col items-center gap-2 xl:flex-row">
                 <span class="text-center xl:text-start">{{ . }}</span>
              </li>
            {{ end }}
          </ul>
        </div>
        
        <div>
          <h2 class="text-[#09568c] mb-2 text-center text-lg font-bold xl:text-start">联系我们</h2>
          <ul class="flex flex-col gap-1 text-sm text-gray-600">
            {{ range .Site.Params.contact }}
              <li class="text-center xl:text-start">{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="xl:col-span-2 xl:col-start-11">
        <h2 class="text-[#09568c] mb-2 text-center text-lg font-bold xl:text-start">友情链接</h2>
        <ul class="flex flex-col gap-2 text-sm text-gray-600">
          {{ range .Site.Params.links }}
            <li class="text-center xl:text-start">
              <a class="hover:text-[#09568c] transition-colors" href="{{ .url }}" target="_blank" rel="noopener">
                {{ .name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

    </div>

    <div class="border-t border-gray-100 pt-4 text-center text-sm text-gray-500">
      {{ with .Site.Params.copyright }}
        <p>{{ . }}</p>
      {{ end }}
    </div>

  </div>
</footer>